### Initializing and connection to the Database

In [2]:
import sqlalchemy as db

# Create the engine, the instance of the Database
engine = db.create_engine('sqlite:///keywords_SQLAlchemy.sqlite')

# Load the Metadata of the Database for managing and accessing tables
meta = db.MetaData()

# Create the connection object
con = engine.connect()

### Creating the table

In [3]:
from sqlalchemy import Table, Column, Integer, String

# Create the table
Cars = Table('cars', meta,
   Column('id', Integer, primary_key = True),
   Column('model', String),
   Column('cv', Integer)
)

# Create the table or tables defined into the Database
meta.create_all(engine)

### Inserting records

In [4]:
# Insert a single record into Database
query = db.insert(Cars).values(id = 1, model = 'Renault Clio', cv = 95)
con.execute(query)

# Insert multiple records into Database
query = db.insert(Cars)
values_list = [
    {"id": 2, "model": "Tesla Model 3", "cv": 390},
    {"id": 3, "model": "Fiat 500", "cv": 110}
]
con.execute(query, values_list)

### Selecting records

In [5]:
from sqlalchemy import select
import pandas as pd

# Select all rows
print("Select all rows")
query = select(Cars)
for row in con.execute(query):
    print(row)

# Select rows based on condition, id == 2
print("\nSelect rows that contain id == 2")
query = select(Cars).where(Cars.c.id == 2)
for row in con.execute(query):
    print(row)

# Save select query into Pandas DataFrame
print("\nSave select query into Pandas DataFrame")
query = select(Cars)
# fetchall() function returns a list of tuples with the results of the query. Using this we won't need to iterate over a for
rows = con.execute(query).fetchall()
print(rows)
rows_df = pd.DataFrame(rows)
print(rows_df)

Select all rows
(1, 'Renault Clio', 95)
(2, 'Tesla Model 3', 390)
(3, 'Fiat 500', 110)

Select rows that contain id == 2
(2, 'Tesla Model 3', 390)

Save select query into Pandas DataFrame
[(1, 'Renault Clio', 95), (2, 'Tesla Model 3', 390), (3, 'Fiat 500', 110)]
   id          model   cv
0   1   Renault Clio   95
1   2  Tesla Model 3  390
2   3       Fiat 500  110

Bad pipe message: %s [b'1.1685992798.12.0.1685992798.0.0.0\r\nHost: localh']
Bad pipe message: %s [b't\r\nProxy-Connection: Keep-Alive\r\nX-Request-ID: 061417fdf05b8bc59b018ca020e0ee15\r\nX-Real-IP: 79.116.132.210\r\nX-', b'rwarded-For: 79.116.132.210\r\nX-Forwarded-Host: cesarseneca-orange-lam', b'rpx4wj54gqjc5rgg-43577.preview.app.github.dev\r\nX-Forwarded-Port: 443\r\nX-Forwarded-Proto: https\r\nX-Original-URI:', b'\r\nX-Scheme: https\r\ncache-contro', b' max-age=0\r\nupgrade-insecure-requests: 1\r\nuser-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit']
Bad pipe message: %s [b'37.36 (KHTML, like Gecko) Chrome/114.0.0.0 Saf', b'i/537.36\r\naccept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,im']
Bad pipe message: %s [b'e/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\r\nsec-fetch-site: same-site\r\nsec-fetch-mo', b': navigate\r\nsec-fetch-dest: document\r\nsec-ch-ua: "Not.A/Brand";v="8", "Chromium";v="114", "Google C', b'ome";v="114"\r\nsec-ch-ua-mobile: ?0\r\nsec-ch-ua-platform: "Windows"\r\nreferer: https://auth.preview.app.gi']

### Deleting records

In [5]:
from sqlalchemy import delete

# Remove rows based on condition, id == 2
query = delete(Cars).where(Cars.c.id == 2)
con.execute(query)

# Let's check if the delete statement has worked well with a compressed select query
pd.DataFrame(con.execute(select(Cars)).fetchall())

   id         model   cv
0   1  Renault Clio   95
1   3      Fiat 500  110

### Updating records

In [6]:
from sqlalchemy import update

query = update(Cars).values(cv = 100).where(Cars.c.id == 1)
con.execute(query)

# Let's check if the delete statement has worked well with a compressed select query
pd.DataFrame(con.execute(select(Cars)).fetchall())

   id         model   cv
0   1  Renault Clio  100
1   3      Fiat 500  110

### Dropping tables

In [8]:
# Drop the Cars table from the Database
# Cars.drop(engine)

# Drop ALL tables from the Database (uncomment the following code-line to execute)
# meta.drop_all(engine)